<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width"/>
  <meta name="description" content="Book different sport facility or manane your own one."/>
  <meta name="keywords" content="booking, sport facility, management"/>
  <meta name="author" content="Andrei Jitaru"/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <title>Sport Booking | Services</title>
  <script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
  <link rel="stylesheet" href="/css/style.css"/>
  <link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />
</head>
<body>
<header>
  <div class="container">
    <div id="branding">
      <h1><span class="highlight">Sport</span> Booking</h1>
    </div>
    <nav>
      <ul>

        <li><a href="/platforma/home">Acasa</a></li>
        <li class="current"><a href="/platforma/about">Despre noi</a></li>
        <li><a href="/platforma/services">Servicii</a></li>
        <li><a href="/platforma/displayBookings">Rezervarile mele</a></li>
        <li><a href="/platforma">Deconecteaza-te</a></li>

      </ul>
    </nav>
  </div>
</header>

<section id="main">
  <div class="container">
    <article id="main-col">
      <h1 class="page-title">Despre noi</h1>
      <p>
        Scopul SportBooking este crearea unui sistem online eficient pentru persoanele care doresc să desfășoare activități sportive, facilitându-le rezervarea unităţilor de sport dorite, oriunde în România, în funcție de locație, de perioadă și de intervalul de timp. Viziunea SportBooking este oferirea unui website informativ şi uşor de utilizat cu scopul de a pune la dispoziția sportivilor amatori sau profesioniști un mod util şi rentabil de a găsi şi rezerva dintr-o selecţie largă de opţiuni locația adecvată pentru a practica sportul dorit oriunde în România.
      </p>
      <p class="dark">
        Sunteți interesat să rezervați un teren de sport (sau să accesați un curs sportiv)? SportBooking este o platforma care vă ajută să faceți rezervarea online gratuit și ușor, fără a fi necesară contactarea recepției. Sistem de rezervare online accesibil și pe mobil, SportBooking răspunde nevoilor moderne de mobilitate și de optimizare a timpului oferit recreerii și exercițiilor fizice.
      </p>
    </article>

    <aside id="sidebar">
      <div class="dark">
        <h3 style="color: #e8491d;">Cu ce ne ocupam</h3>
        <p>Site-ul propune o prezentare complexă a unităților de sport (baze sportive, terenuri, săli de sport) existente în România, oferind pentru fiecare în parte informații privind locația, tarifele practicate, condițiile oferite si nu numai.</p>
      </div>
    </aside>
  </div>
</section>

<footer style="margin-top:225px;">
  <p>Sport Booking, Copyright &copy; 2019</p>
</footer>

</body>
</html>
