<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <meta name="description" content="Book different sport facility or manane your own one."/>
	  <meta name="keywords" content="booking, sport facility, management"/>
  	<meta name="author" content="Andrei Jitaru"/>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <title>Sport Booking | Error</title>
    <link rel="stylesheet" href="/css/style.css"/>
  </head>
  <body>
    <div class="error-container">
      <h1 class="header">Eroare la plata</h1>
      <p class="paragraph">Verificati datele introduse sau daca aveti suma necesara pe card</p>
      <form method="post">
        <input type="submit" value="Intoarceti-va la pagina de plata"  class="return-button"/>
      </form>
    </div>
  </body>
</html>
