<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width"/>
  <meta name="description" content="Book different sport facility or manane your own one."/>
  <meta name="keywords" content="booking, sport facility, management"/>
  <meta name="author" content="Andrei Jitaru"/>
  <title>Sport Booking | Welcome</title>
  <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header>
  <div class="container">
    <div id="branding">
      <h1><span class="highlight">Sport</span> Booking</h1>
    </div>
    <nav>
      <ul>
        <li><a href="/platforma/logIn">Conecteaza-te</a></li>
      </ul>
    </nav>
  </div>
</header>

<section id="showcase">
  <div class="container">
    <h1>Platforma de administrare si gestionare a bazelor sportive</h1>
    <p style="text-shadow: 3px 2px red;">Creeaza rezervari la diferitele baze sportive din Romania inregistrate in aplicatia noastra online</p>
  </div>
</section>

<section id="newsletter">
  <div class="container">
    <h1>Inscrie-te in newsletter-ul nostru</h1>
    <form>
      <input type="email" placeholder="Introdu email..."/>
      <button type="submit" class="button_1">Trimite</button>
    </form>
  </div>
</section>

<section id="boxes">
  <div class="container">
    <div class="box">
      <img src="./img/football.png"/>
      <h3>Sport</h3>
      <p>Aduna-ti prietenii si bucurati-va impreuna de sport.</p>
    </div>
    <div class="box">
      <img src="./img/add.png"/>
      <h3>Rezervare</h3>
      <p>Creaza rezervari la orice baza sportiva inregistrata in aplicatia noastra.</p>
    </div>
    <div class="box">
      <img src="./img/development.png"/>
      <h3>Accesibilitate</h3>
      <p>Acceseaza aplicatia noatra intuitiva si usor de utilizat.</p>
    </div>
  </div>
</section>

<footer>
  <p>Sport Booking, Copyright &copy; 2019</p>
</footer>

</body>
</html>
